<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Banshee</title>
  <link  rel=" icon"   href="../static/favicon.ico"/>
  <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/styles.428315cb213acb043194.css"></head>
<body background="">
  <app-root></app-root>
<script type="text/javascript" src="../static/runtime.a5dd35324ddfd942bef1.js"></script><script type="text/javascript" src="../static/es2015-polyfills.358ed1827c991dd2afb0.js" nomodule></script><script type="text/javascript" src="../static/polyfills.407a467dedb63cfdd103.js"></script><script type="text/javascript" src="../static/main.a0c5b7e06b4c63db9c59.js"></script></body>
</html>
